@media (max-width: 992px) {


    .post-detail-info>h1 {
        font-size: 1.875rem !important;
        letter-spacing: -1px;
    }

    .comment-reply {
        padding: 30px;
    }

    .hero-content h1,
    .hero-content h2 {
        font-size: 50px;
    }

    .about-preview img {
        margin-top: 80px;
    }

    .about-box h3 {
        font-size: 24px;
    }

    .about-box p {
        padding-top: 22px;
    }

    .about-box {
        padding-top: 35px;
    }

    .about {
        padding-bottom: 50px;
    }

    .sec-tl h1,
    .sec-tl h2 {
        font-size: 54px;
    }

    .macbook img {
        min-height: auto;
        width: 42%;
    }

    .macbook h4 {
        font-size: 20px;
    }
}

@media (max-width:767px) {

    .hero-content h1,
    .hero-content h2 {
        font-size: 40px;
    }

    .hero-content form {
        padding-top: 50px;
    }

    .hero-content form input {
        padding: 15px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .theme-btn {
        padding: 14px 25px;
        font-size: 16px;
    }

    .hero-wrap {
        padding: 200px 0 150px;
    }

    .about-preview img,
    .macbook>img {
        display: none;
    }

    .sec-tl h1,
    .sec-tl h2 {
        font-size: 40px;
    }

    .team {
        padding: 60px 0;
    }

    .mb-60 {
        margin-bottom: 40px;
    }

    .innerdivwhite,
    .innerdivyellow {
        min-height: auto;
        padding-bottom: 35px;
    }

    .macbook p {
        padding-right: 0;
    }

    .work {
        padding: 60px 0;
    }

    .team-box h4,
    .work-box h4 {
        font-size: 28px;
    }

    footer {
        padding: 60px 0;
    }

    .ft-bottom {
        padding-top: 60px;
    }
}


@media (max-width:575px) {

    .hero-content h1,
    .hero-content h2 {
        font-size: 30px;
    }

    .hero-content form input {
        width: 100%;
        margin-right: 0;
    }

    .hero-content form {
        padding-top: 30px;
    }

    .logo-wrapper h1 {
        font-size: 28px;
    }

    .sec-tl h1 {
        font-size: 34px;
    }

    .sec-tl h2 {
        font-size: 24px;
    }

    .team {
        background-color: #ffd800;
        padding: 40px 0;
    }

    .team-box h4 {
        font-size: 24px;
    }

    .innerdivwhite,
    .innerdivyellow {
        text-align: center;
    }

    .about-head {
        flex-direction: column;
    }

    .about-box {
        text-align: center;
    }

    .work {
        padding: 40px 0;
    }

    .team-box h4,
    .work-box h4 {
        font-size: 24px;
    }

    .work-btn {
        margin-top: 0px;
    }

    footer a {
        font-size: 15px !important;
    }

    footer {
        padding: 40px 0;
    }

    .ft-wrapper .widget ul {
        margin-bottom: 30px;
    }

    .ft-bottom p {
        font-size: 16px;
    }

    .ft-bottom {
        padding-top: 40px;
    }



    .blog-content {
        text-align: center;
    }

    blockquote>p {
        font-size: 16px;
    }

    #authorize-popup .modal-body {
        padding: 40px 25px 50px;
    }

    .post-detail-info>h1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .post-detail-min-author-info>h5 {
        font-size: 16px;
    }

    .post-detail-min-author-info>h5+span {
        font-size: 12px;
    }

    .post-detail-content {
        text-align: center;
    }

    .grid-2 {
        grid-template-columns: auto;
        gap: 0;
    }

    .post-detail-content+.post-detail-share {
        justify-content: center;
        gap: 10px;
    }

    .post-detail-share>h5+.share-links {
        justify-content: center;
        margin-left: 0;
        gap: 10px;
    }

    .post-detail-author-info {
        text-align: center;
        padding: 1.25rem;
        justify-content: center;
    }

    .post-detail-author-info>img+.post-detail-info-inner {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 1.25rem 0 0;
    }

    .post-detail-info-inner>p+.share-links {
        justify-content: center;
    }

    .comments-thread>h3,
    .comment-reply>h3 {
        font-size: 24px;
    }

    .comment {
        margin-top: 3.875rem;
        justify-content: center;
        text-align: center;
        gap: 6px;
    }

    .comment>img+.comment-detail {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 26px 0 0;
    }

    .comment-list .reply {
        text-align: center;
    }

    .comment-reply {
        padding: 30px;
    }

    .comment-reply .field-btn {
        text-align: center;
    }
}